<!doctype html>
<html lang="en">
  <head>
    <title>Road Accident</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.2/animate.css" integrity="sha256-a2tobsqlbgLsWs7ZVUGgP5IvWZsx8bTNQpzsqCSm5mk=" crossorigin="anonymous" />
      <link rel="stylesheet" href="css/styles.css">
    <!-- ZingChart CDN script -->
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>

    <style>
      #chart {
        height: 400px;
        width: 1300px;
      }
      #chartt {
        height: 400px;
        width: 1300px;
      }
      #charttt {
        height: 400px;
        width: 1300px;
      }
      #chart1 {
        height: 400px;
        width: 1000px;
      }
      #chart2 {
        height: 400px;
        width: 1000px;
      }
      #chart3 {
        height: 400px;
        width: 1000px;
      }
      #charta {
        height: 400px;
        width: 1050px;
      }
      #chartb {
        height: 400px;
        width: 1050px;
      }
      #chartc {
        height: 400px;
        width: 1050px;
      }
      #map {
        height: 550px;
        width:100%;
      }
    </style>
  </head>