<br>

<div class="container">
    <div class="card text-left ">
        <div class="card-header bg-success">
            <h3> Dhaka Cox Bazar highway road crash chart number of accident with month</h3>
          </div>
      <div class="card-body">
          <div id="charta"></div>
      </div>
    </div>
  </div>


    <script>

      const urla = 'http://localhost:3000/cox/chart';

      fetch(urla)

        .then(res => {
          if (!res.ok) {

            throw new Error(res.statusText);

          }
          return res.json();

        })

        .then(data => {

          let cox = data;

          let coxInfo = [];

          cox.forEach(c => {

            coxInfo.push([c.month, parseInt(c.monthAccident)]);

          });

          const chart = {
            type: 'bar',
            plot: {
                 styles: [ "green", "blue", "purple","red", "orange", "yellow", "brown", "black", "purple", "brown", "black" ]
               },
            scaleX: {
        // Scale label with unicode character
        label: { text: 'Month' }
      },
      scaleY: {
        // Scale label with unicode character
        label: { text: 'Number of accidents' }
      },
            series: [
              {
                values: coxInfo
              }
            ]
          };

          // renders zingchart to the page
          zingchart.render({
            id: 'charta',
            data: chart,
            height: '100%',
            width: '100%'
          });

        })
        .catch(error => console.log('fetch error'));

    </script>