<%- include('includes/head.ejs') %>
  <body>
    <%- include('includes/navigation.ejs') %>

    <div class="hero">
        <h1 class=" text-center display-5 py-2">Welcome To The Road Accident Statistics System</h1>
      <div class="highway">  </div>
          <div class="city"></div>
              <div class="car">
                  <img src="img/bus2.png" alt="image">
              </div>
              <p class="lead text-center">This website is working with Chart for the highway road accidents and their statistics</p>
  </div>

    <%- include('includes/end.ejs') %>