

<div class="container">
    <div class="card text-left">
        <div class="card-header bg-warning">
            <h3> Dhaka Sylhet highway road crash chart number of accident with bus name</h3>
          </div>
      <div class="card-body">
          <div id="chart2"></div>
      </div>
    </div>
  </div>

 <br>
 <script>

   const url2 = 'http://localhost:3000/sylhet/chartData';
   fetch(url2)
     .then(res => {
       if (!res.ok) {
         throw new Error(res.statusText);

       }
       return res.json();

     })
     .then(data => {
       let aricha = data;
       let arichaInfo = [];

       aricha.forEach(arich => {
         arichaInfo.push([arich.busName, parseInt(arich.busAccident)]);

       });

       // creates chart const with array
       const chart = {
         type: 'bar',
         plot: {
          'border-radius': "9px",
                 styles: [ "brown", "black", "purple", "brown", "black","green","red", "orange", "yellow", "blue", "purple","brown" ]
               },
            scaleX: {
        // Scale label with unicode character
        label: { text: 'Bus Name' }
      },
      scaleY: {
        // Scale label with unicode character
        label: { text: 'Number of accidents' }
      },
         series: [
           {
             values: arichaInfo
           }
         ]
       };

       // renders zingchart to the page
       zingchart.render({
         id: 'chart2',
         data: chart,
         height: '100%',
         width: '100%'
       });

     })
     .catch(error => console.log('fetch error'));

 </script>