
<br>

    <div class="container">
      <div class="card text-left ">
          <div class="card-header bg-success">
              <h3> Dhaka Sylhet highway road crash chart number of accident with month</h3>
            </div>
        <div class="card-body">
          <div id="chart1"></div>
        </div>
      </div>
    </div>

    <br>

    <script>

      const url1 = 'http://localhost:3000/sylhet/chartData';

      fetch(url1)

        .then(res => {
          if (!res.ok) {

            throw new Error(res.statusText);

          }
          return res.json();

        })

        .then(data => {

          let aricha = data;

          let arichaInfo = [];

          aricha.forEach(arich => {

            arichaInfo.push([arich.month, parseInt(arich.monthAccident)]);

          });

          const chart = {
            type: 'bar',
            plot: {
              'border-radius': "9px",
                 styles: [ "red", "orange", "yellow", "brown", "black", "purple", "brown", "black","green", "blue", "purple","brown" ]
               },
            scaleX: {
        // Scale label with unicode character
        label: { text: 'Month' }
      },
      scaleY: {
        // Scale label with unicode character
        label: { text: 'Number of accidents' }
      },
            series: [
              {
                values: arichaInfo
              }
            ]
          };

          // renders zingchart to the page
          zingchart.render({
            id: 'chart1',
            data: chart,
            height: '100%',
            width: '100%'
          });

        })
        .catch(error => console.log('fetch error'));

    </script>