<%- include('../includes/head.ejs') %>
  <body>
      
    <%- include('../includes/adminnavigation.ejs') %>


      <div class="container bg-secondary">
          <div class="row">
              <div class="col-md-8 offset-md-2 my-5">
                  <div class="card card-body bg-secondary">
                        <div class="card-header text-light bg-dark pd-2">
                      <h4>
                          Create a new poll
                      </h4>
                      </div>
                      <form action="/create" method="POST">
                    <div class="form-group py-3">
                        <label for="title"> Enter Title</label>
                        <input type="text" name="title" id="title" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="description"> Enter Description</label>
                        <textarea name="description" id="description" class="form-control"></textarea>
                    </div>
                    <div id="options">
                     <p>Enter your options</p>
                     <div class="form-group">
                         <input type="text" name="options" class="form-control" placeholder="Option 1">
                     </div>
                     <div class="form-group">
                        <input type="text" name="options" class="form-control" placeholder="Option 2">
                    </div>
                    </div>
                    <button class="btn btn-secondary btn-sm" id="addOption">
                            Add more option
                        </button> <br> <br>
                    <input type="submit" class="btn btn-primary" >
                    </form>
                  </div>
              </div>
          </div>
      </div>

<script>
    let options = document.getElementById('options')
    let addOption = document.getElementById('addOption')

    let currentOptionNumber = 3
     addOption.addEventListener('click', function(e){
         e.preventDefault()
         let option = createNewOption()
         options.appendChild(option) 

     })
   
     function createNewOption(){
         let div = document.createElement('div')
         div.className = 'form-group'
         let input = document.createElement('input')
         input.type = 'text'
         input.name = 'options'
         input.placeholder = 'Option' + currentOptionNumber++
         input.className='form-control'
         div.appendChild(input)
         return div
     }

</script>



    <%- include('../includes/end.ejs') %>